.container {
    max-width: 980px;
    padding: 5px;
    margin: 0 auto;
}

.container .miniMap {
    position: relative;
    background: #000;
    border: 1px solid pink;
    width: 100%;
    text-align: center;
}

.miniMap .bg-room {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 1;
}

.miniMap .child-room-up {
    left: 0px;
    float: left;
    position: absolute;
    top: 1px;
    margin-top: 63px;
    margin-left: 50px;
}

.miniMap .child-room-up img {
    display: inline-block;
    width: 23%;
}

.miniMap .child-room .tooltiptext {
    visibility: hidden;
    position: absolute;
    background: #000;
    color:beige;
    padding: 20px;
    top: -100%;
    text-align: left;
    transition: all .2s ease;
}

.miniMap .child-room:hover .tooltiptext{
    visibility: visible;
    top: 0px;
}

